{% include head.html %}

<header class="header">


	<div class="header__img">
		<div class="header__img_1"></div>
		<div class="header__img_2"></div>
		<div class="header__img_3"></div>
	</div>


	<div class="container-fluid header__plush">
		<div class="row">
			<div class="col header__name">
			    OOO "Монолит - НН"
			</div>
			<a href="tel:+700000000" class="col header__phone">+700000000</a>
		</div>
	</div>

	<div class="container header__text ">
		<div class="header__logo"></div>
		<div class="row">
			<h1 class="col">
				Металлопрокат <br>в Нижнем Новгороде. 
					<br>
					<span>Широкий ассортимент продукции, <br>низкие цены и отличное качество!</span>
			</h1>
		</div>
	</div>
    <div class="definition">
        <div class="definition__header">
            <span>
				Металлопрокат<br>
				листовой, сортовой, трубы, уголки и т.д.
			</span>
            <br>
            <span>
				<strong>

				</strong>
			</span>
        </div>
        <div class="definition__footer">
            <span><b>Доставка</b> по городу и области.</span>
        </div>
    </div>
</header>

<main>

    <div class="services">
        <div class="container">
            <div class="row">
                <div class="col services__header">
                	Наши услуги
                </div>
            </div>
             <div class="row">
             	<div class="col-4">грузоперевозки</div>
             	<div class="col-4">погрузка</div>
             	<div class="col-4">прокат</div>
             </div>
        </div>
    </div>

    <div class="metall-items">
        <div class="container">
            <div class="row">
                <div class="col metall-items__header">
                	Наименование нашей продукции
                </div>
            </div>
            <ul class="row metall-items__list">
                <li class="col-4 metall-items__item">
                    <div class="metall-items__item-ground">
                    	<div class="metall-items__item-icon"></div>
                    </div>
                    <span class="metall-items__item-header">Арматура</span>
                    <span>Арматура строительная ГОСТ 5781-822 – стержневая.
                    Используется в качестве основы строительных конструкций, требующих повышенного уровня безопасности</span>
                </li>
                <li class="col-4 metall-items__item">
                    <div class="metall-items__item-ground">
                    	<div class="metall-items__item-icon"></div>
                    </div>
                    <span class="metall-items__item-header">Балка</span>
                    <span>ГОСТ 26020 - 83 двутавр, балка двутавровая с параллельными гранями полок. Предназначена для изготовления строительных металлоконструкций.</span>
                </li>
                <li class="col-4 metall-items__item">
                    <div class="metall-items__item-ground">
                    	<div class="metall-items__item-icon"></div>
                    </div>
                    <span class="metall-items__item-header">Труба</span>
                    <span>Различные виды (уточнайте у нашего менеджера)</span>
                </li>
                <li class="col-4 metall-items__item">
                    <div class="metall-items__item-ground">
                    	<div class="metall-items__item-icon"></div>
                    </div>
                    <span class="metall-items__item-header">Полоса</span>
                    <span>Строительная полоса представляет собой линейно-протяженный участок для: прокладки трубопровода, выполнения строительно-монтажных работ</span>
                </li>
                <li class="col-4 metall-items__item">
                    <div class="metall-items__item-ground">
                    	<div class="metall-items__item-icon"></div>
                    </div>
                    <span class="metall-items__item-header">Квадрат</span>
                    <span>Металлический сплошной профиль квадратного сечения толщиной от 6 до 200 миллиметров без полой внутренней области, в металлопрокате именуют, как прокат квадратный или просто квадрат.</span>
                </li>
                <li class="col-4 metall-items__item">
                    <div class="metall-items__item-ground">
                    	<div class="metall-items__item-icon"></div>
                    </div>
                    <span class="metall-items__item-header">Лист</span>
                    <span>Различные виды! Металлические листы имеют оцинкованную поверхность, которая защищает и предотвращает вероятность появления коррозии</span>
                </li>
            </ul>
        </div>
    </div>

	<div class="work">
		<div class="container">
			<div class="row">
				<div class="col work__header">
					Как мы работаем
				</div>
			</div>
			<div class="row offset-2">
				<div class="col-2 work__item">
					<div class="work__ground d-flex justify-content-center align-items-center">
						<div class="work__icon "></div>
					</div>
					<span>Вы связываетесь с нашим менеджером</span>
				</div>
				<div class="col-2 work__item">
					<div class="work__ground d-flex justify-content-center align-items-center">
						<div class="work__icon align-items-center"></div>
					</div>
					<span>Мы
							консультируем
							вас</span>
				</div>
				<div class="col-2 work__item">
					<div class="work__ground d-flex justify-content-center align-items-center">
						<div class="work__icon align-items-center"></div>
					</div>
					<span>Заключаем
							договор</span>
				</div>
				<div class="col-2 work__item">
					<div class="work__ground d-flex justify-content-center align-items-center">
						<div class="work__icon align-items-center"></div>
					</div>
					<span>
						Осуществляем
						доставку ж/д или
						грузовым
						транспортом
					</span>
				</div>
				<div class="col-2 work__item">
					<div class="work__ground d-flex justify-content-center align-items-center">
						<div class="work__icon align-items-center"></div>
					</div>
					<span>
						Получаете свой
						заказ
					</span>
				</div>
			</div>
		</div>
	</div>
</main>


<footer class="footer">
	<div class="footer__adress">
		<b>Наш адрес:</b> Нижний Новгород, ул. Новая, д 3
	</div>
	<div class="map" id="map">
		
	</div>
	<div class="footer_bg">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<div class="footer__logo"></div>
				</div>
				<div class="col-6">
					<span class="footer__text">ООО "Монолит - НН" 2018 г.</span>
					<br>
					<span class="footer__phone">
						<a href="tel:+700000000">+700000000</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</footer>


{% include footer.html %}